<div class="page-header">
	<h1><%= t('titles.profile') %></h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
						 html: {method: :put, class: 'form-horizontal', role: 'form'}) do |f| %>
		<%= devise_error_messages! %>

		<%= content_tag :div, class: 'form-group' do %>
				<%= f.label :email, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.email_field :email, autofocus: true %>
				</div>
		<% end %>

		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>

		<%= content_tag :div, class: 'form-group' do %>
				<%= f.label :password, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.password_field :password, autocomplete: 'off' %>
					<span class="help-block">
						<i>(leave blank if you don't want to change it)</i><br/>
						<% if @minimum_password_length %>
							<em><%= @minimum_password_length %> characters minimum</em>
						<% end %>
					</span>
				</div>
		<% end %>

		<%= content_tag :div, class: 'form-group' do %>
				<%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.password_field :password_confirmation, autocomplete: 'off' %>
				</div>
		<% end %>

		<%= content_tag :div, class: 'form-group' do %>
				<%= f.label :current_password, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.password_field :current_password, autocomplete: 'off' %>
					<span class="help-block">
						<i>(we need your current password to confirm your changes)</i>
					</span>
				</div>
		<% end %>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<%= f.submit t('layouts.update'), class: 'btn btn-primary' %>
				<%= link_to t('buttons.delete_account'), registration_path(resource_name),
										data: {confirm: "Are you sure?"}, method: :delete, :class => 'btn btn-danger' %>
			</div>
		</div>
<% end %>
