<div class="page-header">
	<h1><%= t('titles.signup') %></h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
						 html: {class: 'form-horizontal', role: 'form'}) do |f| %>
		<%= devise_error_messages! %>

		<%= content_tag :div, class: 'form-group' do %>
				<%= f.label :email, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.email_field :email, autofocus: true %>
				</div>
		<% end %>

		<%= content_tag :div, class: 'form-group' do %>
				<%= f.label :password, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.password_field :password, autocomplete: 'off' %>
					<% if @minimum_password_length %>
						<span class="help-block">
							<em><%= @minimum_password_length %> characters minimum</em>
						</span>
					<% end %>
				</div>
		<% end %>

		<%= content_tag :div, class: 'form-group' do %>
				<%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.password_field :password_confirmation, autocomplete: 'off' %>
				</div>
		<% end %>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<%= f.submit t('buttons.login'), class: 'btn btn-primary' %>
			</div>
		</div>
<% end %>
