<div class="page-header">
	<h1><%= t('titles.login') %></h1>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name),
						 html: {class: 'form-horizontal', role: 'form'}) do |f| %>

		<%= content_tag :div, class: 'form-group' do %>
				<%= f.label :email, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.email_field :email, autofocus: true %>
				</div>
		<% end %>

		<%= content_tag :div, class: 'form-group' do %>
				<%= f.label :password, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.password_field :password, autocomplete: 'off' %>
				</div>
		<% end %>

		<% if devise_mapping.rememberable? -%>
				<%= content_tag :div, class: 'form-group' do %>
						<%= f.label :remember_me, class: 'col-sm-2 control-label' %>
						<div class="col-sm-10">
							<%= f.check_box :remember_me %>
						</div>
				<% end %>
		<% end -%>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<%= f.submit t('buttons.login'), class: 'btn btn-primary' %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<%= render 'devise/shared/links' %>
			</div>
		</div>
<% end %>
