<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= t('layouts.name') %></title>
		<%= stylesheet_link_tag "doorkeeper/admin/application" %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<%= link_to t('layouts.name'), '/', class: 'navbar-brand' %>
				</div>
				<ul class="nav navbar-nav">
					<%= content_tag :li, class: "#{'active' if request.path == root_path}" do %>
							<%= link_to t('doorkeeper.layouts.admin.nav.home'), root_path %>
					<% end %>
					<% if user_signed_in? %>
							<%= content_tag :li, class: "#{'active' if request.path == oauth_authorized_applications_path}" do %>
									<%= link_to t('tabs.authorized'), oauth_authorized_applications_path %>
							<% end %>
							<%= content_tag :li, class: "#{'active' if request.path == edit_user_registration_path}" do %>
									<%= link_to current_user.email, edit_user_registration_path %>
							<% end %>
							<%= content_tag :li, class: "#{'active' if request.path == oauth_applications_path}" do %>
									<%= link_to t('tabs.developer'), oauth_applications_path %>
							<% end %>
							<%= content_tag :li do %>
									<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
							<% end %>
					<% else %>
							<%= content_tag :li, class: "#{'active' if request.path == new_user_session_path}" do %>
									<%= link_to 'Log In', new_user_session_path %>
							<% end %>
							<%= content_tag :li, class: "#{'active' if request.path == new_user_registration_path}" do %>
									<%= link_to 'Sign Up', new_user_registration_path %>
							<% end %>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="container">
			<%- if flash[:alert].present? %>
					<div class="alert alert-warning">
						<%= flash[:alert] %>
					</div>
			<% end -%>
			<%- if flash[:notice].present? %>
					<div class="alert alert-info">
						<%= flash[:notice] %>
					</div>
			<% end -%>

			<%= yield %>
		</div>
	</body>
</html>
